<div id="<%= dom_id account %>">
  <p>
    <strong>Name:</strong>
    <%= account.name %>
  </p>

  <p>
    <strong>Client name:</strong>
    <%= account.client_name %>
  </p>

  <p>
    <strong>Operation manager name:</strong>
    <%= account.operation_manager_name %>
  </p>

</div>
